<section class=" bg-main text-center page">
  <h2 class="main-text-size text-white   py-3">TESTYMONIALS</h2>
  <div class="d-flex flex-wrap parent  m-auto text-start vh-50  ">
    <div class="w-50 box-sizing p-2">
      <div class="bg-white rounded-4 m-1 p-3 px-4 ">
        <h6 class="main-color fw-bold">Kathryn Murphy</h6>
        <p class="fw-medium ">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled</p>
        <div>
          <i class="fa-solid fa-star main-color mx-1"></i>
          <i class="fa-solid fa-star main-color mx-1"></i>
          <i class="fa-solid fa-star main-color mx-1"></i>
          <i class="fa-solid fa-star main-color mx-1"></i>
          <i class="fa-solid fa-star main-color mx-1"></i>
        </div>
      </div>
    </div>
    <div class="w-50 box-sizing p-2">
      <div class="bg-white rounded-4 m-1 p-3 px-4">
        <h6 class="main-color">Kathryn Murphy</h6>
        <p class="fw-medium">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled</p>
        <div>
          <i class="fa-solid fa-star main-color mx-1"></i>
          <i class="fa-solid fa-star main-color mx-1"></i>
          <i class="fa-solid fa-star main-color mx-1"></i>
          <i class="fa-solid fa-star main-color mx-1"></i>
          <i class="fa-solid fa-star main-color mx-1"></i>
        </div>
      </div>
    </div>
    <div class="w-50 box-sizing p-2">
      <div class="bg-white rounded-4 m-1  p-3 px-4">
        <h6 class="main-color">Kathryn Murphy</h6>
        <p class="fw-medium">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled</p>
        <div>
          <i class="fa-solid fa-star main-color mx-1"></i>
          <i class="fa-solid fa-star main-color mx-1"></i>
          <i class="fa-solid fa-star main-color mx-1"></i>
          <i class="fa-solid fa-star main-color mx-1"></i>
          <i class="fa-solid fa-star main-color mx-1"></i>
        </div>
      </div>
    </div>
    <div class="w-50 box-sizing p-2">
      <div class="bg-white rounded-4 m-1 p-3 px-4">
        <h6 class="main-color">Kathryn Murphy</h6>
        <p class="fw-medium">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled</p>
        <div>
          <i class="fa-solid fa-star main-color mx-1"></i>
          <i class="fa-solid fa-star main-color mx-1"></i>
          <i class="fa-solid fa-star main-color mx-1"></i>
          <i class="fa-solid fa-star main-color mx-1"></i>
          <i class="fa-solid fa-star main-color mx-1"></i>
        </div>
      </div>
    </div>
  </div>
  <button class="main-button my-3">CONTACT US</button>
</section>
