<section class="container-fluid">
  <div class="row">
    <div class="col-8 vh-100 bg-main row">
       <div class="row">
        <div class="col-3"></div>
        <div class="col-9">
          <h2 class="text-white main-text-size">ABOUT US</h2>
          <p class="text-white w-75">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
          <button class="main-button">CONTACT US</button>
        </div>
      </div>


    </div>


    <div class="col-4 vh-100 bg-page  position-relative">
      <div class="imageHeader w-100">
        <img src="./assets/image/45564e95653121db1a2ec1cdbe0f67c4.jpg" class="w-100" >
      </div>

    </div>

  </div>
</section>





