<section class="container-fluid">
  <div class="row">
    <div class="col-8 vh-100 bg-main row">
      <div class="mx-auto text-center"><h6 class="text-white fs-4 me-5 pe-5 mt-2 ">PEACHY PUP <br> BAKERY</h6></div>
      <div class="row">
        <div class="col-3"></div>
        <div class="col-9">
          <h1 class="text-white">TASTY PASTRIES</h1>
          <p class="text-white w-75">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the</p>
          <button class="main-button">SEE MOVE</button>
        </div>
      </div>

      <div class="row">
        <div class="col-5 bg-white bg-page d-flex flex-column align-items-end justify-content-evenly pe-4">
          <i class="fa-brands fa-vk main-color"></i>
          <i class="fa-brands fa-facebook main-color"></i>
          <i class="fa-brands fa-instagram main-color"></i>
          <i class="fa-brands fa-twitter main-color"></i>
        </div>
        <div class="col-7  d-flex align-items-end"><p class="  text-white fw-medium">Telephone +7 700 000 00 00</p></div>
      </div>
    </div>


    <div class="col-4 vh-100 bg-page  position-relative">
      <div class="imageHeader w-100 image">
        <img src="./assets/image/193a314d247081af73c5061e38d7c33f.png" class="w-100 "  >
      </div>

    </div>

  </div>
</section>




