<section class="container-fluid text-center h-100 ">
  <div class="row position-relative">
    <div class="col-5  bg-page row ">
      <div class="col-6"></div>
      <div class="col-5 mt-5 ps-5">
        <p class="main-color mt-5 text-start">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the</p>

      </div>
    </div>
    <div class="col-7 vh-100 bg-main text-center position-relative">
      <h2 class="main-text text-white mt-3">HOW WE WORK</h2>
      <button class="main-button mt-4">CONTACT US</button>

    </div>
    <div class="poducts row">
      <div  class="image col-3">
        <img src="./assets/image/WhatsApp Image 2024-01-19 at 00.27@2x.png" alt="" class="h-100">
      </div>
      <div class="image col-3">
        <img src="./assets/image/WhatsApp Image 2024-01-19 at 00.27.png" alt="">
      </div>

      <div  class="image col-3">
        <img src="./assets/image/WhatsApp Image 2024-01-19 at 00.273.png" alt="">
      </div>
      <div  class="image col-3">
        <img src="./assets/image/WhatsApp Image 2024-01-19 at 00.278.png" alt="">
      </div>
    </div>
  </div>

</section>
